.imagem {
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
  object-fit: cover;
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin: 0 auto;
}

.carrossel {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.informacoes {
  display: none;
}
.informacoes.ativa {
  display: block;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  margin-left: 5%;
  margin-right: 59%;
}

.informacoes .titulo-luffy {
  font-size: 50px; /* Tamanho da fonte */
  color: rgb(149, 3, 3); /* Cor do texto */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; /* Cria a borda ao redor do texto */

  padding-bottom: 10%;
  font-size: 70px;
  font-family: "one piece";
  src: url(/src/Fontes/OnePiece-zAqL.ttf);
}

@font-face {
  font-family: "one piece";
  src: url(/src/Fontes/OnePiece-zAqL.ttf);
}

.informacoes .descricao {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  height: 200px;
  overflow: auto;
  padding-right: 15px;
  color: #ffffff;
}

.botoes-carrossel {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.botoes-carrossel .botao{
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  box-sizing: border-box;
  flex-shrink: 0;
  transition: background-color 0.3s, border-color 0.3s;
  box-sizing: content-box;
  margin: 0;
  padding: 0
}

.botoes-carrossel .botao-selecionado {
  background: rgb(254,254,254);
background: radial-gradient(circle, rgba(254,254,254,1) 0%, rgba(44,124,12,1) 100%);
}

#barra{
  visibility: hidden;
}

.imagem.ativa {
  display: block;
  animation: mudarImagem 1s;
}

@keyframes mudarImagem {
  from {
    opacity: 0.85;
  }
  to {
    opacity: 1;
  }
}

main::after {
  content: "";
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 2%,
    rgba(123, 2, 2, 0.134) 60%,
    rgba(0, 212, 255, 1) 5000%
  );
  z-index: -1;
}

.titulo-zoro{
  font-size: 50px; /* Tamanho da fonte */
  color: rgb(5, 104, 5); /* Cor do texto */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; /* Cria a borda ao redor do texto */

  padding-bottom: 10%;
  font-size: 70px;
  font-family: "one piece";
  src: url(/src/Fontes/OnePiece-zAqL.ttf);
}

.titulo-nami{
  font-size: 50px; /* Tamanho da fonte */
  color: rgb(206, 91, 3); /* Cor do texto */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; /* Cria a borda ao redor do texto */

  padding-bottom: 10%;
  font-size: 70px;
  font-family: "one piece";
  src: url(/src/Fontes/OnePiece-zAqL.ttf);
}

.titulo-usopp{
  font-size: 50px; /* Tamanho da fonte */
  color: rgb(121, 73, 0); /* Cor do texto */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; /* Cria a borda ao redor do texto */

  padding-bottom: 10%;
  font-size: 70px;
  font-family: "one piece";
  src: url(/src/Fontes/OnePiece-zAqL.ttf);
}

.titulo-sanji{
  font-size: 50px; /* Tamanho da fonte */
  color: rgb(174, 142, 1); /* Cor do texto */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; /* Cria a borda ao redor do texto */

  padding-bottom: 10%;
  font-size: 70px;
  font-family: "one piece";
  src: url(/src/Fontes/OnePiece-zAqL.ttf);
}

.titulo-chopper{
  font-size: 50px; /* Tamanho da fonte */
  color: rgb(202, 44, 181); /* Cor do texto */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; /* Cria a borda ao redor do texto */

  padding-bottom: 10%;
  font-size: 70px;
  font-family: "one piece";
  src: url(/src/Fontes/OnePiece-zAqL.ttf);
}

.titulo-robin{
  font-size: 50px; /* Tamanho da fonte */
  color: rgb(120, 21, 173); /* Cor do texto */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; /* Cria a borda ao redor do texto */

  padding-bottom: 10%;
  font-size: 70px;
  font-family: "one piece";
  src: url(/src/Fontes/OnePiece-zAqL.ttf);
}

.titulo-franky{
  font-size: 50px; /* Tamanho da fonte */
  color: rgb(0, 84, 143); /* Cor do texto */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; /* Cria a borda ao redor do texto */

  padding-bottom: 10%;
  font-size: 70px;
  font-family: "one piece";
  src: url(/src/Fontes/OnePiece-zAqL.ttf);
}

.titulo-brook{
  font-size: 50px; /* Tamanho da fonte */
  color: rgb(23, 22, 22); /* Cor do texto */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; /* Cria a borda ao redor do texto */

  padding-bottom: 10%;
  font-size: 70px;
  font-family: "one piece";
  src: url(/src/Fontes/OnePiece-zAqL.ttf);
}

.titulo-jinbe{
  font-size: 50px; /* Tamanho da fonte */
  color: rgb(149, 107, 31); /* Cor do texto */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff; /* Cria a borda ao redor do texto */

  padding-bottom: 10%;
  font-size: 70px;
  font-family: "one piece";
  src: url(/src/Fontes/OnePiece-zAqL.ttf);
}

/* Estilizando a barra de rolagem da descrição */
.informacoes .descricao {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  height: 200px;
  overflow: auto;
  padding-right: 15px;
  color: #d9d2d2;
  
  
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent; 
}


.informacoes .descricao::-webkit-scrollbar {
  width: 10px; 
}

.informacoes .descricao::-webkit-scrollbar-track {
  background: transparent; 
}

.informacoes .descricao::-webkit-scrollbar-thumb {
  background-color: transparent; 
  border-radius: 10px;
  border: 3px solid transparent; 
}